### SQL Operations - [Analyzing Startup Ecosystem and Funding Trends in India]

######

#### List top 10 most funded startups by total amount

In [ ]:
mysql> SELECT Startup_Name,SUM(Amount_USD) AS Total_Funding
       FROM cleaned_startup_funding GROUP BY Startup_Name
       ORDER BY Total_Funding DESC LIMIT 10;

+------------------+---------------+
| Startup_Name     | Total_Funding |
+------------------+---------------+
| Flipkart         |    4059700000 |
| Rapido Bike Taxi |    3900000000 |
| Paytm            |    3148950000 |
| Ola              |     984500000 |
| Udaan            |     870000000 |
| Flipkart.com     |     700000000 |
| Snapdeal         |     700000000 |
| Ola Cabs         |     695495550 |
| Oyo Rooms        |     610000000 |
| True North       |     600000000 |
+------------------+---------------+
10 rows in set (0.03 sec)

*	*The top-funded startups include Flipkart, Rapido Bike Taxi, Paytm, and Ola.*
*	*These startups are likely attracting large investments due to their high growth potential in their respective industries.*
*	*Businesses that solve large-scale, real-world problems (like e-commerce, mobility, and payments) attract significant funding.*

######

#### Identify cities with highest total and average funding

In [ ]:
mysql> SELECT City_Location, SUM(Amount_USD) AS Total_Funding, AVG(Amount_USD AS Average_Funding
       FROM cleaned_startup_funding
       GROUP BY City_Location ORDER BY Total_Funding DESC;

+------------------------+--------------------+--------------------+
| City_Location          | Total_Funding      | Average_Funding    |
+------------------------+--------------------+--------------------+
| Bangalore              |      20950043034.5 |   24589252.3879108 |
| Mumbai                 |         6533781413 | 11382894.447735192 |
| New Delhi              |         5210819883 | 11230215.265086208 |
| Gurgaon                |      4744492954.54 | 14036961.403964497 |
| Unknown                | 1887299838.6799998 |  41028257.36260869 |
| Noida                  |         1659471299 | 17843777.408602152 |
| Chennai                |         1083213843 | 10941553.969696969 |
| Pune                   |          989498888 |          8834811.5 |
| Hyderabad              |          595856453 |  5899568.841584158 |
| Faridabad              |          277795550 |  92598516.66666667 |
| Jaipur                 |          250000119 |          8333337.3 |
| Tulangan               |          200000000 |          200000000 |
| Ahmedabad              |          138330167 |  3373906.512195122 |
| San Jose               |          135000000 |          135000000 |
| Chandigarh             |          103278439 |            9388949 |
| Bhubaneswar            |           48795550 |           24397775 |
| Indore                 |           41171341 |  3167026.230769231 |
| Surat                  |           37759113 |         18879556.5 |
| Kolkata                |           34332356 | 1560561.6363636365 |
| Goa                    |           33833776 |          3383377.6 |
| Siliguri               |           27324663 |         13662331.5 |
| Kochi                  |           27324663 |         13662331.5 |
| Udaipur                |           26295550 |           13147775 |
| Trivandrum             |           25895550 |           12947775 |
| Kozhikode              |           25795550 |           25795550 |
| Usa                    |           25795550 |           25795550 |
| Us                     |           21129113 |  7043037.666666667 |
| Udupi                  |           13529113 |          6764556.5 |
| Baroda                 |           12890452 |          1289045.2 |
| Gaya                   |            6000000 |            6000000 |
| Coimbatore             |            5486713 |          1097342.6 |
| Kanpur                 |            3278226 |           819556.5 |
| Nagpur                 |            3201226 | 1067075.3333333333 |
| Agra                   |            3058226 |            1529113 |
| Bengaluru And Gurugram |            3000000 |            3000000 |
| Rourkela               |            2500000 |            2500000 |
| Bhopal                 |            2330665 |  776888.3333333334 |
| Hubli                  |            1529113 |            1529113 |
| Karur                  |            1529113 |            1529113 |
| Srinagar               |            1529113 |            1529113 |
| Lucknow                |            1000000 |            1000000 |
| Gwalior                |             900000 |             450000 |
| Panaji                 |             825000 |             825000 |
| Belgaum                |             500000 |             500000 |
| Mussoorie              |             350000 |             350000 |
| Amritsar               |             300000 |             300000 |
| Jodhpur                |             160000 |             160000 |
| Varanasi               |              52000 |              52000 |
+------------------------+--------------------+--------------------+
48 rows in set (0.01 sec)

*   *Bangalore is the city with the highest total funding and the highest average funding , ($20.95B) and ($24.59M) respectively.*
*	*Reason can be that the city houses numerous tech companies, startups, and accelerators, making it a natural magnet for investors and talents.*
*	*Investors might also prefer to fund companies in Bangalore due to its proven track record of nurturing successful startups.*

######

#### Count startups funded each year by investment type

In [ ]:
mysql> SELECT Year AS Funding_Year,Investment_Type, COUNT(DISTINCT Startup_Name) AS Funded_Startups
       FROM cleaned_startup_funding
       GROUP BY Funding_Year, Investment_Type ORDER BY Funding_Year, Investment_Type;

+--------------+-----------------+-----------------+
| Funding_Year | Investment_Type | Funded_Startups |
+--------------+-----------------+-----------------+
|         2015 | Private Equity  |             321 |
|         2015 | Seed Funding    |             406 |
|         2016 | Private Equity  |             368 |
|         2016 | Seed Funding    |             568 |
|         2017 | Angel Funding   |               1 |
|         2017 | Debt Funding    |              11 |
|         2017 | Private Equity  |             332 |
|         2017 | Seed Funding    |             300 |
|         2018 | Debt Funding    |              11 |
|         2018 | Other           |               4 |
|         2018 | Pre-Series A    |               3 |
|         2018 | Private Equity  |             142 |
|         2018 | Seed Funding    |             125 |
|         2018 | Series A        |               5 |
|         2018 | Series B        |               4 |
|         2018 | Series C        |               2 |
|         2018 | Series D        |               2 |
|         2018 | Series E        |               1 |
|         2019 | Angel Funding   |               2 |
|         2019 | Debt Funding    |               8 |
|         2019 | Other           |               7 |
|         2019 | Pre-Series A    |               5 |
|         2019 | Private Equity  |               5 |
|         2019 | Seed Funding    |              19 |
|         2019 | Series A        |              18 |
|         2019 | Series B        |              16 |
|         2019 | Series C        |               9 |
|         2019 | Series D        |              10 |
|         2019 | Series E        |               1 |
|         2019 | Series F        |               2 |
|         2019 | Series G        |               1 |
|         2019 | Series H        |               1 |
|         2019 | Series J        |               1 |
|         2019 | Venture Round   |               4 |
|         2020 | Pre-Series A    |               1 |
|         2020 | Private Equity  |               2 |
|         2020 | Seed Funding    |               1 |
|         2020 | Series A        |               1 |
|         2020 | Series B        |               1 |
|         2020 | Series C        |               1 |
+--------------+-----------------+-----------------+
40 rows in set (0.03 sec)

*	*Seed funding was the most common funding type, especially in 2015-17, but has since decreased.*
*	*Reason can be- in early years, many startups were still in development stage and attracted seed funding to build their products, and establish business models.*
*	*But as these businesses grew and they needed capital for scaling, expansion, and market capture,hence the need for larger rounds (Private Equity, Series A, B, C) became more prominent.*

######

#### Find most common combinations of investor and city

In [ ]:
mysql> SELECT Investors_Name,City_Location,COUNT(*) AS Frequency
       FROM cleaned_startup_funding
       GROUP BY Investors_Name, City_Location ORDER BY Frequency DESC LIMIT 10;

+------------------------+---------------+-----------+
| Investors_Name         | City_Location | Frequency |
+------------------------+---------------+-----------+
| Undisclosed investors  | Bangalore     |        20 |
| Undisclosed Investors  | Mumbai        |        19 |
| Unknown                | Mumbai        |        10 |
| Undisclosed investors  | New Delhi     |        10 |
| Indian Angel Network   | New Delhi     |         9 |
| Undisclosed investor   | New Delhi     |         9 |
| Undisclosed Investors  | Gurgaon       |         6 |
| Nexus Venture Partners | Bangalore     |         6 |
| SAIF Partners          | Bangalore     |         6 |
| Unknown                | Bangalore     |         6 |
+------------------------+---------------+-----------+
10 rows in set (0.03 sec)

*	*Most of the investors are Undisclosed, likely due to Confidentiality or privacy reasons.*
*	*Still startups in Bangalore, Mumbai, and New Delhi should be prioritized as these cities attract the most investors.*

######

#### Identify industries with highest median funding

In [ ]:
mysql> WITH IndustryFunding AS (
       SELECT Industry_Vertical, Amount_USD,
       ROW_NUMBER() OVER (PARTITION BY Industry_Vertical ORDER BY Amount_USD) AS RowAsc,
       COUNT(*) OVER (PARTITION BY Industry_Vertical) AS TotalCount
       FROM cleaned_startup_funding)
       SELECT Industry_Vertical, AVG(Amount_USD) AS MedianFunding
       FROM IndustryFunding
       WHERE RowAsc IN (CASE
        WHEN TotalCount % 2 = 1 THEN (TotalCount + 1) / 2
        WHEN TotalCount % 2 = 0 THEN (TotalCount / 2) + 1
        END)
       GROUP BY Industry_Vertical ORDER BY MedianFunding DESC;

+-------------------------+---------------+
| Industry_Vertical       | MedianFunding |
+-------------------------+---------------+
| Automation              |     300000000 |
| B2B                     |     225000000 |
| Hospitality             |     100000000 |
| Artificial Intelligence |      38080000 |
| SaaS                    |      26000000 |
| Analytics               |      11000000 |
| FinTech                 |       6000000 |
| ECommerce               |       4000000 |
| Retail                  |       1600000 |
| Consumer Internet       |       1529113 |
| EdTech                  |       1529113 |
| Healthcare              |       1529113 |
| Marketplace             |       1529113 |
| Media                   |       1529113 |
| Others                  |       1529113 |
| Real Estate             |       1529113 |
| Services                |       1529113 |
| Technology              |       1529113 |
| Consumer Goods          |        500000 |
+-------------------------+---------------+
19 rows in set (0.06 sec)

*	*Automation startups have the highest median funding, at $300M.*
*	*reason can be, that the demand for Automation technologies in industries like manufacturing, logistics, and IT is only increasing, leading to higher investments.*
*	*while looking to launch a startup, focusing on automation, Hospitality, AI, or B2B solutions will likely attract the most attention from investors as these fields are expected to generate long-term value and greater returns.*

######